@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	



	/* PRIMARY EDITOR*/
	--background-primary: #1e3a29;
	--background-secondary:  #102b1b;
	--text-normal: #eeffccd9;

	--h1-color: #b0ca77;
	--h2-color: #98bc4a;
	--h3-color: #86a73e;

	--background-modifier-border: #000000;

	--blockquote-background-color: #2c4938;
	--blockquote-border-color: #5ebe84bb;


	--font-text-theme: 'Jersey 10', monospace;
	letter-spacing: 0.2em;


	/* TOP TABS AND side MENU*/

	--tab-radius-active: 4px;
	--tab-outline-width: 2px;
	--inline-title-line-height: 2em;
	--inline-title-size: 3em;
	--inline-title-weight: 0.2;
	--tab-outline-width: 2px;
	--tab-text-color: #000000;

	--divider-color-hover: #8ca457;


	--ribbon-background:  #102b1b;
	--ribbon-background-collapsed: #102b1b;


	.workspace-tab-header-container{
		background-color: #102b1b;
	}

	.workspace-ribbon.mod-left:before {
		background-color: #102b1b;
	}

	

	


	/*text formatting*/
	




	/*md formatting*/

	--checkbox-border-color: #eeffcc;
	--checkbox-border-color-hover: #bedc7f;
	--checkbox-color: #bedc7f;
	--checkbox-marker-color: #4d8061;
	--checkbox-color-hover: #4d8061;
	--checklist-done-decoration: #bedc7f;
	--checklist-done-color: #4d8061;
    --checkbox-radius: 2px;


	--hr-color: #eeffcc;
	--hr-thickness: 3px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}


.HyperMD-header{
	letter-spacing: .02em;
}