@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	



	/* PRIMARY EDITOR*/
	--background-primary: #1e3a29;
	--text-normal: #eeffccd9;

	--h1-color: #bedc7f;

	--background-modifier-border: #000000;

	--blockquote-background-color: #4d8061;
	--blockquote-border-color: #bedc7f;

	--font-text-theme: 'Jersey 10', monospace;
	letter-spacing: 0.2em;


	/* TOP TABS AND MENU*/

	--tab-radius-active: 6px;
	--tab-outline-width: 2px;


	/*text formatting*/
	




	/*md formatting*/

	--checkbox-border-color: #eeffcc;
	--checkbox-border-color-hover: #bedc7f;
	--checkbox-color: #bedc7f;
	--checkbox-marker-color: #4d8061;
	--checkbox-color-hover: #4d8061;
	--checklist-done-decoration: #bedc7f;
	--checklist-done-color: #4d8061;
    --checkbox-radius: 2px;


	--hr-color: #eeffcc;
	--hr-thickness: 3px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}


.HyperMD-header{
	letter-spacing: .05em;
}